:root
{
    --main-color: #f25454 !important;
    --p-color: #999;
    --bg-color:#fafafa;
}
body
{
overflow-x: hidden;
}
.setting
{
    width: 39px;
    height: 39px;
    position: absolute;
    position: fixed;
    top: 20%;
    z-index: 999;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #1f2528;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}
.setting:hover
{
    opacity: 0.8;
}
.settings-icon
{
    position: relative;
}
.fa-small {
    position: absolute;
    left: 2;
    top: 3;
    font-size: 7px;
  }
  
.fa-med {
    font-size: 7px;
    position: absolute;
    left: 2;
    top: 14;
  }
  
.fa-lge {
    font-size: 13px;
    position: absolute;
    z-index: 1000;
    left: -10;
    top: 5;
  }
.setting i
{
    color: white;
}
nav li 
{
    margin-right: 22;
}
.navbar-nav
{
    font-size: 14px;
    font-weight: 600;
}
.ico-header i 
{
    padding: 10 0 10 15 ;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.ico-header i:hover 
{
    color: var(--main-color);
}
nav
{
    z-index: 2;
    border-bottom: 5 solid rgb(128, 128, 128);
}
.nav-item a
{
    color: #fff;
    transition: all 0.2s;
}
.nav-item a:hover
{
    color: var(--main-color) ;
}
.navbar
{
    position: relative;
}
.navbar::after
{
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
}
.navbar-toggler
{
    color: white;
    font-size: 28px;
}
.navbar-toggler-icon:hover
{
    color: var(--main-color);
}

/* end of nav */

.carousel-item 
{
    height: 100vh;
}
.carousel-item img
{
    object-fit: cover;
}
.carousel-control-next 
{
    width: 50px;
    height: 50px;
    top: 50% !important;
    left: 0 !important;
    border: 1px solid white !important;
    border-left:0 !important ;
    border-bottom-right-radius: 3px;
    transition: all 0.3s ease;
}
.carousel-control-prev
{
    width: 50px;
    height: 50px;
    top: 50% !important;
    border: 1px solid white !important;
    border-left:0 !important ;
    border-top-right-radius: 3px;
    transition: all 0.3s ease;
    margin-top: -49px;
}
.carousel-control-prev-icon ,.carousel-control-next-icon
{
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-control-prev-icon , .carousel-control-next-icon i
{
    font-size: 20px;
}
.arrowlayer
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: -100%;
    transition: all 0.3s;
}
.carousel-control-prev:hover .arrowlayer
{
    left: 0;
}
.carousel-control-prev:hover i
{
    color: var(--main-color);
    z-index: 2;
}
.carousel-control-next:hover .arrowlayer
{
    left: 0;
}
.carousel-control-next:hover i
{
    color: var(--main-color);
    z-index: 2;
}
.carousel-item
{
    display: flex !important;
    position: relative;
    justify-content: center;
}
.header-content{
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 30%;
    text-align: center;
}
.header-content h1 
{
    font-size: 70;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

/* end of home */

.title-layer h2
{
    position: relative;
    font-size: 38px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.title-layer h2::before
{
    position: absolute;
    content: "A";
    bottom: -6;
    font-size: 70px;
    font-weight: 800;
    opacity: 0.06;
}
.title-layer h2::after
{
    position: absolute;
    width: 5%;
    height: 0.5px;
    content: " ";
    background-color: black;
    right: 50%;
    top: 140%;
    transform: translate(50%);
    transition: all 0.3s;
    
}
.title-layer:hover ::after
{
    width: 7%;
}
.title-layer p
{
    color: var(--p-color);
    font-size: 19px;
    padding: 20px;
    line-height: 1.35;
    margin-bottom: 50px;
}
.paragraphs p
{
  color: #444;
}
.progress-txt
{
    line-height: 0!important;
}
.progress
{
    height: 4px;
    margin: 3px 0 35px 0 !important;
}
.progress-bar
{
    background-color: var(--main-color);
    animation: in-left 2s ;
}
@keyframes in-left
{
    from
    {
        transform: translateX(-100%);
    }
}
.txt
{
    font-weight: 600;
    color: #444;
    font-size: 15px;
}
.skill .visible
{
    animation: visible1 2.5s ease-in-out;
}
@keyframes visible1
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

/* end of about */

.team .title-layer h2::before
{
    position: absolute;
    content: "O";
    bottom: -6;
    font-size: 70px;
    font-weight: 800;
    opacity: 0.06;
}
.team .title-layer p
{
    color: var(--p-color);
    font-size: 19px;
    padding: 0px;
    line-height: 1.35;
    margin-bottom: 50px;
}
.member-image
{
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
}
.member-image img
{
    transition: all 0.5s;
}
.member-social
{
    height: 100%;
    background-color: rgba(242, 84, 84, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
.member-social-inner a
{
  text-decoration: none;
  padding-right: 20px;
}
.member-social-inner a i
{
    color: white;
}
.team-member:hover img
{
    transform: scale(1.15);
}
.team-member:hover h3
{
    color: var(--main-color);
    transition: all 0.3s ease;
}
.member-image:hover .member-social
{
    opacity: 1;
}
.team-member
{
    line-height: 0!important;
}
.team-member h3
{
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
}
.team-member p
{
    margin-top: 10px;
    font-size: 14px;
    color:var(--p-color);
    padding-bottom: 50px;
}

.footer-txt h3
{
    font-size: 35px;
    font-weight: 400;
}
.footer-btn a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: var(--main-color);
    padding: 12px 28px 12px 28px;
    font-weight: 700;
    border-radius: 3px;
    transition: all 0.3s;
}
.footer-btn a:hover
{
    color: white;
    opacity: 0.7;
}

/* end of about */

.services
{
    background-color: var(--bg-color);
}
.services .title-layer h2::before
{
    position: absolute;
    content: "S";
    bottom: -6;
    font-size: 70px;
    font-weight: 800;
    opacity: 0.06;
}
.services .title-layer p
{
    color: var(--p-color);
    font-size: 19px;
    padding: 30px;
    line-height: 1.35;
    margin-bottom: 50px;
}
.single-icon i
{
  color: var(--main-color);
  font-size: 25px;
}
.single-txts h3
{
    font-size: 18px;
    margin-top: 0 !important;
    font-weight: 700;
    transition: all 0.3s;
}
.single-txts p
{
    color: var(--p-color);
    font-size: 15px;
    padding-right: 25px;
}
.service-single
{
    padding: 10px 0;
}
.service-single:hover h3
{
    color: var(--main-color);
}
/* end of services */

.contact
{
    background-color:var(--bg-color);
}
.contact h2::before
{
    position: absolute;
    content: "G";
    bottom: -6;
    font-size: 70px;
    font-weight: 800;
    opacity: 0.06;
}
.ico-holder 
{
    display: flex;
    margin-bottom: 20;
    border-bottom: 1px solid #eee;
}
.ico-holder:hover span
{
    color: var(--main-color);
}
.ico-holder span
{
    font-weight: 600;
    transition: all 0.4s ;
    font-size: 18;

}
.ico-holder p
{
    color: var(--p-color);
}
.spacing
{
    text-align: center;
    width: 10%;
    margin-right: 25;
}
.brdr-none
{
    border-bottom: none;
}
.pointer
{
    cursor: pointer;
    transition: all 0.4s;
}
.pointer:hover
{
    color: var(--main-color);
}
.contact-icon i
{
    font-size: 35;
    color: var(--main-color);
}


.form-control
{
    margin-bottom: 30;
    padding: 12 16;
   
}
form input:focus
{
    box-shadow: none !important;
    border-color: #f25454 !important;
    border: 2px solid #f25454;
}

form textarea:focus
{
    box-shadow: none !important;
    border-color: #f25454 !important;
    border: 2px solid #f25454;
}
textarea[placeholder] , input[placeholder] 
{
    font-size: 15;
}
form button
{
    padding: 15 27;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    transition: all 0.3s;
}
form button:hover 
{
    opacity: 0.7;
}
/* end of contact */
footer
{
    position: relative;
}
.footer-icon
{
    position: absolute;
    top: -25;
    z-index: 50 ;
}
.footer-icon a
{
    padding: 17px;
    background-color: rgba(242, 84, 84, 0.5);
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
}
.footer-icon a i
{
    color: white;
}
.footer-icon a:hover 
{
    background-color: rgba(242, 84, 84, 1);
}
.footer-content
{
    background: #222;
    background-image: url(../images/dotted-map.png);
    background-size: contain;
}
.content1 h5
{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.content2 p 
{
    color: var(--p-color);
}
.content2 p a
{
    color: var(--p-color);
    text-decoration: none;
    transition: all 0.3s;
}
.content2 p a:hover 
{
    color: var(--main-color);
}
.content2 a
{
    color: var(--p-color);
    text-decoration: none;
    transition: all 0.3s;
}
.content2 a:hover 
{
    color: var(--main-color);
}
.content2 .tag 
{
    display: block;
    float: left;
    border: 1px solid #b0b0b0;
    padding: 4px 10px;
    font-size: 13px;
    margin-bottom: 10px ;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s;
}
.content2 .tag:hover
{
    border: 1px solid var(--main-color);
}
.footer-end
{
    background-color: #1a1a1a;
    line-height: 0!important;
}
.foot-ico i
{
    color: #fff;
    cursor: pointer;
    margin-right: 25;
    transition: all 0.3s;
}
.foot-ico i:hover
{
    color: var(--main-color);
}
.copy-right a
{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
}
.copy-right p
{
    color: var(--p-color);
}
.copy-right a:hover
{
    color: var(--main-color);
}